@import url(//fonts.googleapis.com/css?family=Open+Sans:300, 300italic);
@import url(//fonts.googleapis.com/css?family=Pacifico);

* {
   margin: 0px;
   padding: 0px;
}

.logo-grid a {
  text-decoration: none;
}


body {
  margin: 0;
  padding: 0;
  background-color: #F4F5F6;
  display:block;
  font: 300 16px/1.4 'Open Sans';
   min-width:1100px; /* suppose you want minimun width of 1000px */
   width: auto !important;  /* Firefox will set width as auto */
   width:1100px;             /* As IE ignores !important it will set width as 1000px; */

}

label {
  color:#56BFF4;
}

header.custom-header {
  height: 195px;
  width: 100%;
  margin: auto;
  background: #1EAAF1;
  box-shadow: 0 0 10px #1D92CD;
}

.linkLBC , .budget {
  display: inline-block;
  margin-top: 10px;
  position: relative;
  width: 30%;
}

.linkLBC {
  margin-left: 13%;
}

.budget {
  margin-right: 13%;
}

.button-grid {
  width: 10%;
  margin: auto;
  display: inline-block;
  position: relative;
}

.custom-form        {
  width: 85%;
  margin: auto;
}

.circle-searchButton {
    width:80px;
    height: 80px;
    display: block;
    border-radius: 50%;
    border-width: 0px;
    margin: auto;
    color:black;
    text-align:center;
    text-decoration:none;
    background: white;
    box-shadow: 0 6px 6px #1D92CD;
    -webkit-transition: 10s ease-in-out;
    -moz-transition: 10s ease-in-out;
    -o-transition: 10s ease-in-out;
    transition: 10s ease-in-out;
    outline: none;
}

.circle-searchButton:focus {
    -webkit-transform: rotate(25000deg);
    -moz-transform: rotate(25000deg);
    -o-transform: rotate(25000deg);
    -ms-transform: rotate(25000deg);
    outline: none;
    border-width: 0px;
}

.imageButton {
  width:60%;
  height: 60%;
  border-width: 0px;
}

.logo-grid {
  width: 50%;
  top: 0px;
  margin: auto;
  text-align: center;
}

.logo h1, .slogan h1{
  color: white;
  font-size: 14px;
}

.logo h1{
  padding-top: 10px;
  color: white;
  font: 300 40px/1.4 'Pacifico';
}

.slogan h1{
  color: white;
  padding-top: 10px;
  font: 300 18px/1.4 'Open Sans';
  font-style: italic;
}

input         {
  font-size:18px;
  padding:10px 10px 10px 5px;
  display:block;
  background-color: #1EAAF1;
  color:white;
  font: 300 22px/1.4 'Open Sans';
  width:90%;
  border:none;
  border-bottom:1px solid #56BFF4;
}
input:focus     { outline:none; }


* LABEL ======================================= */
label          {
  color:#56BFF4;
  font: 300 14px/1.4 'Raleway';
  font-size:18px;
  font-weight:normal;
  position:absolute;
  pointer-events:none;
  left:5px;
  top:10px;
  transition:0.2s ease all;
}

/* active state */
input:focus ~ label, input:focus ~ label     {
  top:-20px;
  font-size:16px;
  color:white;
}

/* BOTTOM BARS ================================= */
.bar  { position:relative; display:block; width:95%; }
.bar:before, .bar:after   {
content:'';
height:1px;
width:0;
bottom:1px;
position:absolute;
background:white;
transition:0.2s ease all;
}
.bar:before {
left:50%;
}
.bar:after {
right:50%;
}

/* active state effet trait blanc */
input:focus ~ .bar:before, input:focus ~ .bar:after {
width:50%;
}
