  <div class="logo-grid">
    <a href="http://localhost:3000/">
    <div class="logo">
      <h1>LebonArgus.fr</h1>
    </div>
  </a>
    <div class="slogan">
      <h1>Calculez votre argus en copiant votre lien leboncoin.fr</h1>
    </div>
  </div>

  <form method="GET" action="/">
    <div class="custom-form">
    <div class="linkLBC">
      <input type="hidden" name="f" value="true" />
      <input type="text" name="url" required>
      <!--<input type="submit">
      http://www.leboncoin.fr/voitures/852693116.htm?ca=12_s
      -->
      <span class="highlight"></span>
      <span class="bar"></span>
      <label>Copier un lien Leboncoin.fr</label>
    </div>


      <!-- Colored FAB button with ripple -->
      <div class="button-grid">
        <button class="circle-searchButton">
          <img class="imageButton" src="/images/search.png" style="width:70px;height:70px;">
        </button>
      </div>

      <div class="budget">
      <input type="text" name="b">
      <span class="highlight"></span>
      <span class="bar"></span>
      <label>Définir un budget max. ? (Optionnel)</label>
    </div>
  </div>
  </form>
