<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">
<HTML>
<HEAD>
  <meta charset="UTF-8">
<TITLE>WS2 : Results</TITLE>
<!--<script src="jquery-1.11.3.min.js"></script>-->
<!--<link rel="stylesheet" type="text/css" href="css/style.css">-->
<!--
    Page "view" pour l'affichage des resultats. cette page est juste chargée dans la page de base. Pas de redirection, le html est importé
-->
<script type="text/javascript">
  var lbcJSON = <%- JSON.stringify(json) %>;
</script>
</HEAD>
<BODY>
  <div id="resultsTag" class="mainTag">
    <%- JSON.stringify(json) %>
  </div>
  <div>
  <form method='GET' action='/'>
    <input type="hidden" name="url" value=<%= url %>/>
    <select name="optionChoices" onchange="this.form.submit()">
    <% for(var i=0; i<optionsPages.length; i++) {
        if(optionsPages[i].url == data.url) { %>
       <option selected="selected" value="<%=optionsPages[i].name%>"><%= optionsPages[i].name %></option>
       <% } else { %>
       <option value="<%=optionsPages[i].name%>"><%= optionsPages[i].name %></option>
    <% } }%>
    <input type="submit" value="validez"/>
    </select>
  </form>
</div>
<div id="results">
  <p><%= data.cote %><p>
  <img src=<%= data.graphdata %> width="484px" height="150px"/>
</div>
</BODY>
</HTML>
