<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">
<HTML>
<HEAD>

<link rel="stylesheet" type="text/css" href="style/header.css"/>
<link rel="stylesheet" type="text/css" href="style/content.css"/>
<link rel="stylesheet" type="text/css" href="style/search-content.css"/>
  <meta charset="UTF-8">
<TITLE>LeBonArgus.fr</TITLE>
<script src="utils/jquery-1.11.3.min.js"></script>
<script src="utils/ejs.min.js"></script>
<script src="utils/loader.js"></script>
<!--<link rel="stylesheet" type="text/css" href="css/style.css">-->
<!--

Page de base avec le formulaire pour récupérer l'url

-->
</HEAD>
<BODY>
<script type="text/javascript">loadResultsPage();</script>
<div id="resultsTag" class="mainTag">

  <header id="header" class="custom-header">
  </header>

  <div class="search-content">
    <div class="left-grid">
      <a href="<%= search[i].url %>" title="<%= search[i].title %>" target="_blank">
      <div class="grid-1-1">
          <img src="/images/car.jpg"></img>
          <p>Titre voiture</p>
          <h3>23 000€</h3>
      </div>
      </a>
      <a href="<%= search[i].url %>" title="<%= search[i].title %>" target="_blank">
      <div class="grid-1-2">
          <img src="/images/car.jpg"></img>
          <p>Titre voiture</p>
          <h3>23 000€</h3>
      </div>
      </a>
      <a href="<%= search[i].url %>" title="<%= search[i].title %>" target="_blank">
      <div class="grid-1-3">
          <img src="/images/car.jpg"></img>
          <p>Titre voiture</p>
          <h3>23 000€</h3>
      </div>
      </a>
    </div>
    <div class="mid-grid">
      <a href="<%= search[i].url %>" title="<%= search[i].title %>" target="_blank">
      <div class="grid-2-1">
          <img src="/images/car.jpg"></img>
          <p>Titre voiture</p>
          <h3>23 000€</h3>
      </div>
      </a>
      <a href="<%= search[i].url %>" title="<%= search[i].title %>" target="_blank">
      <div class="grid-2-2">
          <img src="/images/car.jpg"></img>
          <p>Titre voiture</p>
          <h3>23 000€</h3>
      </div>
      </a>
      <a href="<%= search[i].url %>" title="<%= search[i].title %>" target="_blank">
      <div class="grid-2-3">
          <img src="/images/car.jpg"></img>
          <p>Titre voiture</p>
          <h3>23 000€</h3>
      </div>
      </a>
    </div>
    <div class="right-grid">
      <a href="<%= search[i].url %>" title="<%= search[i].title %>" target="_blank">
      <div class="grid-3-1">
          <img src="/images/car.jpg"></img>
          <p>Titre voiture</p>
          <h3>23 000€</h3>
      </div>
      </a>
      <a href="<%= search[i].url %>" title="<%= search[i].title %>" target="_blank">
      <div class="grid-3-2">
          <img src="/images/car.jpg"></img>
          <p>Titre voiture</p>
          <h3>23 000€</h3>
      </div>
      </a>
      <a href="<%= search[i].url %>" title="<%= search[i].title %>" target="_blank">
      <div class="grid-3-3">
          <img src="/images/car.jpg"></img>
          <p>Titre voiture</p>
          <h3>23 000€</h3>
      </div>
      </a>
    </div>
  </div>

</div>
</BODY>

<% if(err && err.haserror)
{ %>
<script type="text/javascript" >
  alert("<%= err.errortext %>");
</script>
<% } %>
<script id="dynamicLoad" type="text/javascript">
  $.get( location.origin + "/cell", { url:"<%=data[0].url %>" } )
      .done(function( data ) {
  //$("#content").text(data);
});
</script>
</HTML>
