<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">
<HTML>
<HEAD>

<link rel="stylesheet" type="text/css" href="style/header.css"/>
<link rel="stylesheet" type="text/css" href="style/content.css"/>
<link rel="stylesheet" type="text/css" href="style/search-content.css"/>
  <meta charset="UTF-8">
<TITLE>LeBonArgus.fr</TITLE>
<script src="utils/jquery-1.11.3.min.js"></script>
<script src="utils/ejs.min.js"></script>
<script src="utils/loader.js"></script>
<!--<link rel="stylesheet" type="text/css" href="css/style.css">-->
<!--

Page de base avec le formulaire pour récupérer l'url

-->
</HEAD>
<BODY>
<script type="text/javascript">loadResultsPage();</script>
<div id="resultsTag" class="mainTag">

  <header id="header" class="custom-header">
  </header>

  <div class="search-content">
    <div class="left-grid">
      <div class="grid-1-1">
      </div>
      <div class="grid-1-2">
      </div>
      <div class="grid-1-3">
      </div>
    </div>
    <div class="mid-grid">
      <div class="grid-2-1">
      </div>
      <div class="grid-2-2">
      </div>
      <div class="grid-2-3">
      </div>
    </div>
    <div class="right-grid">
      <div class="grid-3-1">
      </div>
      <div class="grid-3-2">
      </div>
      <div class="grid-3-3">
      </div>
    </div>
  </div>

  <div class="loading-text">
    <h1>Chargement des résultats...</h1>
  </div>

</div>
</BODY>

<script id="dynamicLoad" type="text/javascript">
  var index = 0;
  //alert("<%= data.length %>");
  $(window).load(function()
  {
    <% var length = (data.length >= 9)? 9 : data.length;
    var index = -1;
    if(data.length > 0)
    for(var i = 0; i < 3 ; i++)
    for(var j = 0; j < 3; j++ )
    { if(length - 1 >= index && data.length - 2 >= index) {
      %>
      $.get( location.origin + "/cell", { url:"<%=data[++index].url %>" })
      .done(function(data) {
        if(data)
            $("[class=grid-<%=i+1%>-<%=j+1%>]").html(data);
        else {
          $("[class=grid-<%=i+1%>-<%=j+1%>]").html("<h3>Offre invalide</h3>");

        }
      });
    <% } } %>
  });
</script>
</HTML>
