<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">
<HTML>
<HEAD>

<link rel="stylesheet" type="text/css" href="style/header.css"/>
<link rel="stylesheet" type="text/css" href="style/content.css"/>
<link rel="stylesheet" type="text/css" href="style/search-content.css"/>
  <meta charset="UTF-8">
<TITLE>LeBonArgus.fr</TITLE>
<script src="utils/jquery-1.11.3.min.js"></script>
<script src="utils/ejs.min.js"></script>
<script src="utils/loader.js"></script>
<!--<link rel="stylesheet" type="text/css" href="css/style.css">-->
<!--

Page de base avec le formulaire pour récupérer l'url

-->
</HEAD>
<BODY>
<script type="text/javascript">loadResultsPage();</script>
<div id="resultsTag" class="mainTag">

  <header id="header" class="custom-header">
  </header>

  <div class="search-content">
    <div class="left-grid">

    </div>
    <div class="mid-grid">

    </div>
    <div class="right-grid">

    </div>
  </div>

</div>
</BODY>

<script id="dynamicLoad" type="text/javascript">
  var index = 0;
  //alert("<%= data.length %>");
  <% for(var i = 0; i <  data.length ; i++)
  { %>
    $.get( location.origin + "/cell", { url:"<%=data[i].url %>" } )
        .done(function( data ) {
    $("[class=left-grid]").append(data);
    });
  <% } %>
</script>
</HTML>
